# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
db.sqlite3
db.sqlite3-journal

# Virtual Environments
venv/
ENV/
env/
.env/
media/


# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Node dependencies (nested)
**/node_modules/

# Logs and databases
*.log
local_settings.py
.env
.env.local
.DS_Store
